<br>
<h1 class="text-center" style="color: white;"><%= @competition.name %></h1>
<br>
<br>

<div class="container">
  <div class="row row-cols-4">
    <% @teams.each do |team| %>
      <div class="col text-center" style="color: white;"><%= team.name %></div>
    <% end %>
  </div>
</div>
<br>
<br>

<div class="d-flex justify-content-center">
  <%= form_with model: [ @competition, @competition.games.build ] do |form| %>
    <div class="card" style="width: 28rem;">
      <div class="card-body">
        <div class="mb-3 text-center">
          <%= form.label "Give your sweepstake a name", { class: "form-label", style: "font-size: 28px;" } %>
          <%= form.text_field :name, { class: "form-control" } %>
        </div>
        <div class="text-center">
          <%= form.submit "Set up your sweepstake", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
