<h1><%= @competition.name %></h1>
<br>

  <% @teams.each do |team| %>
   <li>
     <%= team.name %>
   </li>
  <% end %>
 </ul>
<br>

<h2>Sweepstakes</h2>

<ul>
  <% @games.each do |game| %>
   <li>
     <a href="<%= @competition.id %>/games/<%= game.id %>/players/id">
       <%= game.name %>
     </a>
   </li>
   <%= button_to "Delete Sweepstake", competition_path(@competition.id, game_id: game.id), method: :delete %>
  <% end %>
 </ul>

<h2>New sweepstake name:</h2>
<%= form_with model: [ @competition, @competition.games.build ] do |form| %>
  
  <p>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit "Create Sweepstake" %>
  </p>
<% end %>
