<br>
<div>
<h1 class="text-center" style="color: white;"><%= @competition.name %></h1>
</div>
<br>

<div>
<h2 class="text-center" style="color: white;"><%= @game.name %></h2>
</div>
<br>

<div>
<h3 class="text-center" style="color: white;"> Live standings for your sweepstake:</h3>
</div>
<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @players.each do |player| %>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title"><%= team = Team.find(player.team_id).name %></h5>
          <p class="card-text">
            Current form: <b><%= form = Team.find(player.team_id).form %></b>
            <br>
            Drawn by: <b><%= player.name %></b>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>


