<h1>Live scores</h1>
<p>Find me in app/views/results/index.html.erb</p>

<%= @team_name %>
<%= @team_form %>

<ul>
  <% @players.each do |player| %>
    <li>
      <%= player.name %> was drawn 
      <%= team = Team.find(player.team_id).name %>
    </li>
  <% end %>
</ul>


<%
=begin%>
 <ul>
  <% @players.each do |player| %>
    <li>
      <%= player.name %> was drawn 
      <%= team = Team.find(player.team_id).name %>
      <%= team_form = @standings_array.find { |team_hash| team_hash["team"]["name"] == team }["form"] %>
    </li>
  <% end %>
</ul> 
<%
=end%>
