<h1><%= @competition.name %></h1>

<h1><%= @game.name %></h1>

<h2>Your teams current form</h2>


<%
=begin%>
 <%= @team_name %>
<%= @team_form %>  
<%
=end%>



<ul>
  <% @players.each do |player| %>
    <li>
      <%= player.name %> was drawn 
      <%= team = Team.find(player.team_id).name %>
      <%= form = Team.find(player.team_id).form %>
    </li>
  <% end %>
</ul>
