<h1><%= @competition.name %></h1>
<%= button_to "Return to Competition", competition_path(@competition.id), method: :get %>

<h1><%= @game.name %></h1>


<h2>Input player names:</h2>
<%= form_with model: [ @competition, @game, @game.players.build ] do |form| %>
  <% i = 1 %>
  <% (0...@playerswithoutteams).each do %>
    <p>
      <%= i %>: <%= form.text_field "name#{i}" %>
      <% i += 1 %>
    </p>
  <% end %>
  <p>
    <%= form.submit "Randomise Names" %>
  </p>
<% end %>
