<h1><%= @competition.name %></h1>
<%= button_to "Return to Competition", competition_path(@competition.id), method: :get %>

<h1><%= @game.name %></h1>

<h2>New player name:</h2>
  <%= form_with model: [ @competition, @game, @game.players.build ] do |form, i| %>
    <% i = 1 %>
    <% @teams_count.times do %>
    <p>
      <%= form.text_field "player#{i}" %>
    </p>
    <% i += 1 %>
    <% end %>
    <p>
      <%= i %>: <%= form.text_field "name#{i}" %>
      <% i += 1 %>
    </p>
  <% end %>
  <p>
    <%= form.submit "Randomise Names" %>
  </p>
<% end %>
