<br>
<h1 class="text-center" style="color: white;"><%= @competition.name %></h1>
<br>

<h2 class="text-center" style="color: white;"><%= @game.name %></h2>
<br>

<h3 class="text-center" style="color: white;">Add player names:</h3>
<br>

<div class="d-flex justify-content-center">
  <%= form_with model: [ @competition, @game, @game.players.build ] do |form, i| %>
    <div class="card" style="width: 28rem;">
      <div class="card-body">
        <div class="mb-3 text-center">
          <% i = 1 %>
          <% @teams_count.times do %>
            <%= form.label "Player #{i}:", { class: "form-label", style: "font-size: 25px;" } %>
            <%= form.text_field "player#{i}", { class: "form-control", style: "margin-bottom: 1em;" }  %>
          <% i += 1 %>
          <% end %>
        </div>
        <div class="text-center">
          <%= form.submit "Generate sweepstake", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

