<h1><%= @competition.name %></h1>

<h1><%= @game.name %></h1>

<ul>
  <% @players.each do |player| %>
    <li>
      <%= player.name %>
      <%= team = Team.find(player.team_id).name %>
    </li>
  <% end %>
</ul>
<%= @teams.inspect %>

