<br>
<div>
<h1 class="text-center" style="color: white;"><%= @competition.name %></h1>
</div>
<br>

<div>
<h2 class="text-center" style="color: white;"><%= @game.name %></h2>
</div>
<br>

<ul>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @players.each do |player| %>
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title"><%= player.name %></h5>
          <p class="card-text">was drawn:<br><b><%= Team.find(player.team_id).name %></b></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="d-flex justify-content-center">
  <div class="text-center">
    <a href="/competitions/<%= @competition.id %>/games/<%= @game.id %>/results" class="btn btn-primary">View real-time results for your sweepstake</a>
  </div>
</div>  
</ul>
<br>

